body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* utitly classes */
.button-bar{
  margin-top: 1rem;
}

.primary{
  background-color: #4361ee;
}

.secondary{
  background-color: #EF233C ;
}

.button{
  margin: 0.2rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}